.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.card.custom-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.card-img-top {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
}

.card-text {
    color: #777;
    margin-bottom: 10px;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
}
